# Rails
/config/database.yml
*.rbc
*.sassc
.sass-cache
capybara-*.html
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/secrets.yml

# Environment
/.bundle
/vendor/bundle
.rvmrc
nohup.out

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
/elpa/

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# TextMate
*.tmproj
*.tmproject
tmtags

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/