<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Bonjour <%= @user.firstname %>,</h4>
    <p>
		Merci pour votre inscription<br/>
		Nous vous tiendrons informés de nos offres dès le départ du premier wagon.<br/>
		Pour toute question, n'hésitez pas à nous contacter: <a href='mailto:contact@lewagon.org'>contact@lewagon.org</a>.
    </p>
    <p>Bonne journée!</p>
    <p>L'équipe du Wagon</p>
  </body>
</html>