<div id="banner"> 
	<%= link_to "http://fast.wistia.net/embed/iframe/9vb45twa62?videoWidth=710&videoHeight=432&controlsVisibleOnLoad=true&autoPlay=true&popover=true", class: "wistia-popover[width=710,height=432,playerColor=#636155]" do %>
	<div class="caption-right center">
		<h1>APPRENEZ A CODER</h1>
		<h3>Il est temps d'attraper le wagon</h3>
		<h1><i class="fa fa-play-circle-o" id="player-btn"></i></h1>			
			<script charset="ISO-8859-1" src="http://fast.wistia.net/static/popover-v1.js"></script>
	</div>
	<% end %>
</div>

