<div id="carrousel" class="carousel slide">
	<div class="carousel-inner">

		<div class="active item">
			<%= image_tag 'carousel1.jpg', class: "carousel-img"%>
		</div>
				
	</div>
	<div class="caption-right center">
		<h1>APPRENEZ A CODER</h1>
		<h3>Il est temps d'attraper le wagon<h3>
		<!-- Button to trigger modal -->
		<a href="#myModal" role="button" class="btn btn-red" data-toggle="modal"><h5>En savoir plus</h5></a>
	</div>
</div>

