<div class="row-fluid">
	<div class="span1">
		<%=image_tag "cal.svg", class: "cours-mutinerie-pic"%>
	</div>
	<div class="span6 infos">
		Mutinerie<br>
		<span class="second-line">
			29 rue de Meaux<br>
			75019 Paris
		</span>
	</div>	
	<div class="span5 center">

		<a href="http://maps.google.com/maps?q=29%20rue%20de%20Meaux%2075019%20Paris">
			<img src="http://maps.google.com/maps/api/staticmap?center=48.879559,2.371743&zoom=13&markers=size:small|48.879559,2.371743&size=60x60&sensor=false" class="google-map">
		</a>
	</div>
</div>