<div id="express" class="justify open-sans">
  <div class="row-fluid">
    <div class="span10 offset1">
      <%= image_tag( "lexpress.png",
      :width => "120",
      :style => "margin-right:40px")%>
      <div style="display:inline-block;vertical-align:-35px">
        <h1 style="color:#113d59">L'EXPRESS</h1>
				<div class="fb-like" data-href="http://www.lewagon.org<%= request.path %>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lewagon.org/express" data-via="Lewagonparis" data-lang="fr" data-hashtags="express">Tweeter</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>


      <br/><br/><br/>
      <ul>
        <li class="justify">Vous avez un projet d'appli web</li>
        <br>
        <li class="justify">Vous débutez en programmation et êtes un peu perdu dans toutes ces technologies (langages, librairies, frameworks, services web)</li>
        <br>
        <li class="justify">Vous êtes <strong>TRES MOTIVES</strong> pour réaliser vous-même votre prototype, sans le sous-traiter</li>
      </ul>

      <br>
      <h2 class="blue">EN PRATIQUE</h2>
      <p>
        Nous partirons coder dans un gite à la campagne !
        Un cadre idéal pour déconnecter et se consacrer à 200% au code et à vos projets.
        L'occasion aussi de s'aérer l'esprit entre des sessions de programmation intensives, et de se réunir autour
        de bons repas pour se détendre et échanger sur différents sujets.
      </p>
      <p>
        L'express fonctionne à l'inscription. Dès que nous réunissons 10 personnes ayant le bon 
        profil, nous trouvons une date qui convient à la fois aux élèves et aux professeurs 
        et nous lançons une session.
      </p>
      <br>
      <h2 class="blue">PEDAGOGIE</h2>
      <p>
        Des exercices bien ciblés, des séances de code-live et de coaching, des interventions 
        de professionnels intéressants pour votre projet. Vous serez armé pour développer 
        votre MVP en 2 semaines.
      </p>
      <p class="justify">
        Le wagon vous permet de profiter au maximum de l'expérience des autres
        élèves, de celle de vos coachs et des intervenants. Vous ne réaliserez
        pas Google en deux semaines, mais vous apprendrez à déployer très vite
        une première version de votre projet, pour ensuite ajouter des
        fonctionnalités de façon itérative. Ce qu'on appelle le 'développement
        agile'.
      </p>
      <p class="justify">
        A la fin de ces deux semaines, vous pourrez taper à la porte des incubateurs parisiens
        partenaires du wagon, si jamais votre projet vous donne des ailes et que vous décidez de
        faire le grand saut dans l'entrepreunariat.
      </p>
      <br>
      <h2 class="blue">RECRUTEMENT</h2>
      <ul>
        <li class="justify">Le bouton "POSTULER" n'est pas seulement là pour vous faire croire que le programme est très demandé ! Il est essentiel pour nous de sélectionner les bons profils. Des élèves ayant autant envie d'apprendre le développement web que de mener leur projet à bien. Si vous n'avez aucune envie de "mettre les mains dans le cambouis" et que vous voyez l'express comme un moyen pour lancer rapidement votre produit a 128 features, vous serez vite déçu !</li><br>

        <li class="justify">Suite à votre inscription au programme, nous vous contacterons assez vite pour un entretien (Skype ou tout simplement autour d'un verre). L'idée n'est pas de vous tester, mais de voir si vous avez le bon profil et si vous pourrez vraiment tirer profit du programme.</li><br>

        <li class="justify">Si vous excellez au wagon, et vous prenez de passion pour le développement, vous pourrez  à votre tour devenir mentor/coach des prochaines formations, pour continuer à apprendre et à partager. Si le coeur vous en dit of course !</li>
      </ul>

      <br>
      <div id="cursus" class="row-fluid">
        <div class="span12">

          <h2 class="blue">PROGRAMME</h2>
          <p>Pour développer votre prototype, vous utiliserez :</p>
          <ul>
            <li><span class="bold red">Ruby On Rails</span> - pour bâtir tout votre site ou seulement l'API en back-end</li>
            <li><span class="bold red">HTML/CSS/Bootstrap</span> - pour travailler une première identité visuelle et un rendu professionnel</li>
            <li>Librairies et frameworks Javascript (<span class="bold red">jQuery, Angular, Ember, Backbone…</span>) - pour animer votre site, surtout si vous voulez batir une application one-page</li>
          </ul>
          <br>
          <p>Le programme est découpé en 2 semaines</p>
          <ul>
            <li class="justify">Semaine 1 : La première semaine est une semaine de formation, qui reste modelée par les projets des élèves. Au programme,
              <ul>
                <li>cours théoriques concis et percutants (pas plus de 30 minutes) pour vous transmettre l'essentiel.</li>
                <li> séances de code live où un professeur construit avec vous un exemple from scratch (CV en ligne, to-do list, blog, réseau social, site de e-commerce…). Certaines de ces séances vous serviront ensuite sur vos projets personnels.</li>
                <li>travaux pratiques en groupe pour appliquer ses connaissances, s'autonomiser et s'entraider.</li>
                <li>brainstorm avec votre mentor pour définir votre MVP (Minimal Valuable Product), cibler les outils et les points à approfondir pour réussir à le développer.</li>
              </ul>
            </li>

            <br/>

            <li class="justify">Semaine 2 : La deuxième semaine sera entièrement consacrée à votre projet. Votre coach sera là pour définir une roadmap avec vous, pour vous aider losque vous bloquer quelque part.  Nous vous pousserons aussi à collaborer, en réunissant les projets qui utilisent des technologies similaires.</li>
          </ul>

          <br/>
          <p class="pull-right">
            <h3 style="display:inline-block">Si l'express est fait pour vous</h3>
            <%=link_to "POSTULEZ", {controller: "registrations", action: "new"}, class: "btn", style:"margin-left:20px;vertical-align: 1px;"%>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
