<div id="koudetat" class="open-sans justify">
	<div class="row-fluid">
		<div class="span10 offset1" style="background:white;padding: 20px;">

			<div class='row-fluid'>
				<div class='span4 offset2'>
					<a href="http://www.thefamily.co/" target="_blank">
						<%= image_tag "kudetat.png"%>
					</a>
				</div>
				<div class='span4' style="padding-top:10px;">
					<a href="http://www.lewagon.org/" target="_blank">
						<%= image_tag "new-logo-black@2x.png"%>
					</a>
				</div>
			</div>
			
			<br>
			<div class="fb-like" data-href="http://www.lewagon.org<%= request.path %>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lewagon.org/thefamily" data-via="Lewagonparis" data-lang="fr" data-hashtags="koudetat premiere">Tweeter</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			<br><br>
		
			<div class='row-fluid'>
				<div class='span12'>
						<p>On ne nait pas entrepreneur, on le devient !</p>
						<p>Le Wagon s'associe à <a href="http://www.thefamily.co/" target="_blank">TheFamily</a> pour le lancement du programme Koudétat +. De Mars à Juillet allez passer vos samedi en famille pour y acquérir:</p>
					<ul>
						<li>Des bases théoriques solides qui vous donneront les bons schémas de pensées</li>
						<li>Des faits détaillés et la rencontre avec des fondateurs d'exception</li>
						<li>Des exercices pratiques et des mises en situation intensives</li>
						<li>Et plein d'autres choses très utiles pour un entrepreneur en devenir !</li>
					</ul>				
				</div>
			</div>
			
			
			<br>
			
			<div class='row-fluid'>
				<div class='span12'>
						<p>
							Et si vous venez de la part du Wagon, TheFamily vous fait une ristourne de 5%! Pour plus de précisions sur le programme <a href="" target="_blank">c'est ici</a>. Et pour encore plus de précisions vous pouvez directement embêter Oussama Ammar, cofondateur de TheFamily par mail de notre part, carrément ! <%= link_to "oussama@thefamily.co", "mailto:oussama@thefamily.co" %>
						</p>		
				</div>
			</div>
		</div>
	</div>
</div>
