<div class="row-fluid">
  <div class="span10 offset1">
    <h3 class="darkgrey proxima-bold center">CANDIDATURE PREMIERE CLASSE</h3>

    <!-- Nav tabs -->
    <p>
      Prochains départs de <a href="/premiere">Première Classe</a> :
    </p>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#juillet-2014" data-toggle="tab">Juillet 2014</a>
      </li>
      <li>
        <a href="#octobre-2014" data-toggle="tab">Octobre 2014</a>
      </li>
      <li>
        <a href="#janvier-2015" data-toggle="tab">Janvier 2015</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="juillet-2014">
        <%= wufoo_form("zgdfzme1o22qz0", 1400) %>
      </div>
      <div class="tab-pane" id="octobre-2014">
        <%= wufoo_form("rlgnjjq0uvoqaa", 1400) %>
      </div>
      <div class="tab-pane" id="janvier-2015">
        <%= wufoo_form("s8e5iew1rkkqjo", 1400) %>
      </div>
    </div>

  </div>
</div>