<div class="row-fluid">
  <div class="span10 offset1">
    <h3 class="darkgrey proxima-bold center">CANDIDATURE PREMIERE CLASSE</h3>

    <!-- Nav tabs -->
    <p>
      La session de Juillet est <strong>complète</strong>. Prochains départs de <a href="/premiere">Première Classe</a> :
    </p>
    <ul class="nav nav-tabs">
      <!-- <li class="active">
        <a href="#juillet-2014" data-toggle="tab" data-wufoo-id="zgdfzme1o22qz0">
          Juillet 2014
        </a>
      </li> -->
      <li class="active">
        <a href="#octobre-2014" data-toggle="tab" data-wufoo-id="rlgnjjq0uvoqaa">
          Octobre 2014
        </a>
      </li>
      <li>
        <a href="#janvier-2015" data-toggle="tab" data-wufoo-id="s8e5iew1rkkqjo">
          Janvier 2015
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
<!--       <div class="tab-pane active" id="juillet-2014">
        <div id="wufoo-zgdfzme1o22qz0"></div>
      </div> -->
      <div class="tab-pane active" id="octobre-2014">
        <div id="wufoo-rlgnjjq0uvoqaa"></div>
      </div>
      <div class="tab-pane" id="janvier-2015">
        <div id="wufoo-s8e5iew1rkkqjo"></div>
      </div>
    </div>

  </div>
</div>