<div class="row-fluid">
  <div class="span10 offset1">
    <h3 class="darkgrey proxima-bold center">CANDIDATURE PREMIERE CLASSE</h3>

    <!-- Nav tabs -->
    <p>
      Prochains départs :
    </p>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#paris-juillet" data-toggle="tab">Juillet - Paris</a>
      </li>
      <li>
        <a href="#paris-octobre" data-toggle="tab">Octobre - Paris</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="paris-juillet">
        <%= wufoo_form("zgdfzme1o22qz0", 1140) %>
      </div>
      <div class="tab-pane" id="paris-octobre">
        <%= wufoo_form("mf1sgpe1aucqy6", 1140) %>
      </div>
    </div>

  </div>
</div>