<div id="premiere">
	<div class="row-fluid">

		<div class="span10 offset1">

			<h3 class="blue">Etes-vous fait pour la 1ère classe ?</h3>
			<ul>
				<li class="justify">Vous êtes ingénieur ? Vous avez fait des études de philosophie, d'histoire de l'art, de design ? Peu importe finalement ! Vous avez une furieuse envie de plonger dans le développement web, pour 2 mois d'apnée !</li>
				<li>Vous aimeriez vous reconvertir et trouver un poste de développeur.</li>
				<li>Vous recherchez simplement un bagage technique solide afin d'avancer sur vos projets (personnels, entreprenariaux).</li>
			</ul>

			<h3 class="blue">Pourquoi s'inscrire au wagon ?</h3>
			<p class="justify">Avec de la motivation, n'importe qui peut apprendre à coder tout seul. C'est d'ailleurs une très bonne démarche ! Plusieurs points à garder en tête <%=image_tag "apprentissage.png", class: "pull-right", width: "400px"%></p>
			<ul> 
				<li><span class="bold">c'est long</span> : la courbe d'apprentissage est très plate au début.</li>
				<li><span class="bold">c'est frustrant</span> : on progresse peu alors qu'on a mille projets et mille applications en tête.</li>
				<li><span class="bold">ce n'est pas très épanouissant</span> : on a envie de travailler en groupe, d'échanger, d'apprendre des autres. En pratique, on passe son temps seul devant un livre de code ou un tutorial en ligne.</li>
			</ul>
			<h4 class="bold">CODER < > BIEN CODER</h4>
			<p class="justify">
				Il y a une vraie différence entre "savoir coder" et "savoir bien coder". Le wagon vous donnera les bonnes pratiques du développement dès le début. Collaboration sur github, test-driven development, code refactoring.. en 1ère classe, vous apprendrez à travailler en équipe sur un projet web, à écrire du code propre et lisible et à le tester.
			</p>

			<h3 class="blue">Le wagon = un cadre + une pédagogie</h3>
			<p class="justify"><span class="bold red">L'ESPACE</span> - Situé dans Paris intra muros, c'est encore en discussion mais ça promet.. Surprise !</p> 
			<p class="justify"><span class="bold red">LA PEDAGOGIE</span> - Des exercices bien ciblés, des séances de code-live et de coaching, des interventions de professionnels.</p> 

			<h3 class="blue">Le recrutement</h3>
			<ul>
				<li class="justify">Suite à votre inscription au programme, nous vous contacterons assez vite pour un entretien (Skype ou tout simplement autour d'un verre). L'idée n'est pas de vous tester, mais de voir si vous avez le bon profil et si vous pourrez vraiment tirer profit du programme.</li><br>

				<li class="justify">Si vous excellez au wagon, et vous prenez de passion pour le développement, vous pourrez  à votre tour devenir mentor/coach des prochaines formations, pour continuer à apprendre et à partager. Si le coeur vous en dit of course !</li>
			</ul>

			<h3 class="blue" style="display:inline-block" >Le programme</h3>
			<h4 class="pull-right">2 mois, 24/7</h4>
			<p>Lors de ces deux mois, vous apprendrez :</p>
			<ul>
				<li>A écrire du code DRY en <span class="bold red">ruby</span> ! lisible, refactoré, et testé !</li>
				<li>A développer un site ou une simple API back-end avec le framework <span class="bold red">Rails</span></li>
				<li>A déployer et administrer son application sur <span class="bold red">Heroku</span> (gestion de la base de données en production, ajout de workers..)</li>
				<li>A collaborer sur <span class="bold red">Github</span></li>
				<li>Les bases suffisantes en <span class="bold red">HTML/CSS/Bootstrap</span> pour donner une vraie identité visuelle à vos projets</li>
				<li>Un première intro aux librairies et frameworks Javascript (<span class="bold red">jQuery, Angular, Ember, Backbone..</span>) pour animer vos applis, ou créer des sites "one-page", qui sont dans la tendance avec les navigateurs modernes.</li>
			</ul>

			<p>Dans les grandes lignes, le programme sera découpé ainsi</p>
			<ul>
				<li class="justify">Semaines 1-3 : Du ruby, toujours du ruby !</li>
				<li class="justify">Semaines 4-6 : Rails</li>
				<li class="justify">Semaines 7-9 : Frameworks & Librairies Javascript</li>
			</ul>
			
			<br/>

			Si la 1ère classe est faite pour vous, <%=link_to "POSTULER", {controller: "registrations", action: "new"}%>

		</div>
	</div>
</div>
