<div class="row-fluid" style="margin-top:20px;min-height:400px;">
	<div class="span12">
		<h2 class="darkgrey proxima-bold center">PRESSE</h1>
		
		<h4 class="bitter-blue">News</h4>
		<ul>	
			
			<li>
				[EN] rudebaguette.com, <a href="http://www.rudebaguette.com/2014/02/06/frances-startup-scene-tackles-question-can-teach-someone-entrepreneur/" target="_BLANK">France's startup scene tackles question : can you teach someone to be an entrepreneur?</a>
			</li>
			
			<li>
				[FR] maddyness.com, <a href="http://www.maddyness.com/startup/2014/02/03/startup-le-wagon-developpeur/" target="_BLANK">[Startup] Après 4 semaines, Le Wagon fait escale et publie un premier bilan à mi-parcours</a>
			</li>
			
			<li>
				[FR] maddyness.com, <a href="http://www.maddyness.com/startup/2014/01/20/startup-comment-devenir-developpeur-en-9-semaines/" target="_BLANK">[Startup] Comment devenir développeur en 9 semaines?</a>
			</li>
			
			<li>
				[FR] maddyness.com, <a href="http://www.maddyness.com/outils/2013/10/08/le-wagon/" target="_BLANK">[Outils] Prenez Le Wagon en marche et apprenez enfin à coder!</a>
			</li>
			
			<li>
				[EN] amusement.net, <a href="http://www.amusement.net/2014/01/30/interview-code-is-all-you-need-learn-this-exciting-language-at-le-wagon-frances-first-dev-bootcamp-program/
				" target="_BLANK">Code is all you need. Learn this exciting language at Le Wagon, first bootcamp program</a>
			</li>
			
			<li>
				[FR] rue89.com, <a href="http://www.rue89.com/2013/11/10/apprendre-a-coder-six-semaines-est-bien-serieux-247384" target="_BLANK">Apprendre à coder en six semaines, est-ce bien sérieux?</a>
			</li>
			
			<li>
				[FR] Libération, <a href="https://dl.dropboxusercontent.com/u/29947758/jpds-liberation.jpg" target="_blank">[Article] Libération: JPDS 2013</a> 
			</li>
			
			
			<li>
				[FR] petitweb.fr, <a href="http://www.petitweb.fr/actualites/devrions-nous-tous-apprendre-a-coder/#zoVSlz7ODkMAyQRc.01" target="_BLANK">Devrions-nous tous apprendre à coder?</a>
			</li>
			
			<li>
				[FR] Lebusinessplan.fr, <a href="http://www.lebusinessplan.fr/super-portrait-entrepreneur/le-wagon/" target="_BLANK">[Portrait d'entrepreneur] Boris nous présente Le Wagon, cours et bootcamp pour apprendre à coder !</a>
			</li>
			
			<li>[FR] Entreprise-facile.com, <a href="http://blog.entreprise-facile.com/articles/2013/07/16/interview-de-boris-paillard-cofondateur-du-wagon" target="_BLANK">Interview de Boris Paillard, cofondateur du Wagon</a>
			</li>
			
		</ul>
		
		<h4 class="bitter-blue">Events</h4>
		<ul>
			<li>
				<a href="https://dl.dropboxusercontent.com/u/29947758/eldorado.jpg" target="_blank">Workshop de 150 élèves pour l'ELDORADO, avec la Chaire Entrepreneuriale de l'ESCP</a> 
			</li>	
			<li>
				<a href="http://paris.startupweekend.org/2013/11/07/special-prize-le-wagon-2-morning-workshop-in-web-development/" target="_blank">Start-up weekend, 2-days workshop prize</a> 
			</li>		
			<li>
				<a href="https://dl.dropboxusercontent.com/u/29947758/startup-in-paris.jpg" target="_blank">Finalistes concours Startup in Paris, Mairie de Paris</a> 
			</li>
		</ul>

		
		<h4 class="bitter-blue">Videos</h4>
		<ul>
			<li>
				<a href="http://www.youtube.com/channel/UChCDYcBCrb8tuPAO6e0P-Hw?feature=watch" target="_blank">Chaîne Youtube du Wagon</a>
			</li>
		<li>
			<a href="https://vimeo.com/75025541?utm_campaign=68e8f24b1f-Newsletter_22_septembre9_22_2013&utm_medium=email&utm_source=Mutinerie+News&utm_term=0_0dd73e119a-68e8f24b1f-[LIST_EMAIL_ID]
			" target="_blank">Video JPDS 2013</a> 
		</li>
		<li>
			<a href="http://www.youtube.com/watch?v=iMJqZSwpK2Y" target="_blank">Paulin Demenhon, Drivy</a> 
		</li>
		<li>
			<a href="http://www.youtube.com/watch?v=XBXSK7svkcg" target="_blank">Romain David, Wisembly</a> 
		</li>
		<li>
			<a href="http://www.youtube.com/watch?v=LTWrwmSzeVU" target="_blank">Pierre-Dimitri Gore-Coty, Uber France & Europe du Nord</a> 
		</li>
		
		<br><br>

	</div>

</div>






