<div class="row-fluid" style="margin-top:20px;min-height:400px;">
	<div class="span12">
		<h4 class="bitter-blue">Dans la presse</h4>
		<br/>
		<h4>Juillet 2013</h4
		<p>[FR] Entreprise-facile.com, <a href="http://blog.entreprise-facile.com/articles/2013/07/16/interview-de-boris-paillard-cofondateur-du-wagon" target="_BLANK">Interview de Boris Paillard, cofondateur du Wagon</a></p>
		
		<h4>Juin 2013</h4>
		<p>[FR] Lebusinessplan.fr, <a href="http://www.lebusinessplan.fr/super-portrait-entrepreneur/le-wagon/" target="_BLANK">[Portrait d'entrepreneur] Boris nous présente Le Wagon, cours et bootcamp pour apprendre à coder !</a></p>
	</div>



</div>






