<div class="row-fluid" id="wagon_bar">
		<div class="span4 sidebar">
			<h3 class="blue">LA CARTE</h3>
			<% @grouped_courses.each do |cat,courses| %>
			<h4><%= cat %></h5>
			<ul class="list">
				<% courses.each do |c| %>
					<li><%= link_to  c.title , c %></li>
				<% end %>
			</ul>
			<% end %>
		</div>
		
		<div class="span8">
			<h1 class="bitter-blue">Des cours à la carte</h1>
			<p>Intégrez les clefs qu'il vous manque dans votre start-up, votre projet personnel, ou dans votre travail. Des cours à la carte : initiation back-end, front-end, maîtrise des APIs.. Trouvez le cours qui vous correspond et inscrivez-vous !</p>
			<p>Aucun cours ne vous correspond ? Faites-le nous <%= link_to 'savoir' ,'mailto:contact@lewagon.org' %>. </p>
		</div>
		
</div>