<% if @response.has_key?("error") %>
	$('.error-message').show();
	var codes = {"502":"email invalide!", "214": "vous vous êtes déjà inscrit à ce cours!" };
	var code = <%= @response['code'] %>;
	var message = codes[code] || "Une erreur est survenue lors de l'inscription à la newsletter";
	$('.error-message').html(message).delay(800);
<% else %>
	$('.error-message').hide();
	$('form').hide();
	$('#subscribe').html("<p>Merci ! Nous vous tenons au courant du prochain départ de ce wagon.</p><br/>")
<% end %>