
  <div class='row-fluid'>
    <div class='span12'>
      <h2><a href="blog/wisembly-soutient-le-wagon.html">Wisembly soutient le wagon</a></h2>
      <p class="meta muted">03 Sep 2013</p>
      <div class="fb-like" data-href="http://www.lewagon.org/blog/wisembly-soutient-le-wagon.html" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.lewagon.org/blog/wisembly-soutient-le-wagon.html" data-via="Lewagonparis" data-lang="fr" data-hashtags="bootcampparis">Tweeter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <br>
      <br>
      <p><img src="/assets/romain_wisembly.jpg" alt="romain de wisembly" /></p>

<p><br/></p>

<h4 class="bitter">Qui es-tu ?</h4>


<p class="justify">Je suis co-fondateur de <a href="http://wisembly.com/fr/">Wisembly</a>. Wisembly est une solution collaborative pour les réunions d'entreprise. Notre logicel en SaaS permet de préparer, d'animer et d'assurer le suivi de réunions (séminaires, conférences, conf-call, formation...).
Wisembly a été fondée en 2010. Nous avons aujourd'hui près de 300 clients et 17 employés.</p>


<p><span class="pull-right"><img src="/assets/wisembly.png" alt="wisembly" /></span>
<br><br></p>

<h4 class="bold">Quels profils recherchez-vous chez Wisembly ?</h4>


<p class="justify">Nous recherchons à la fois des profils commerciaux et des profils plus techniques. 
Dans notre équipe technique, nous voulons des gens motivés, très compétents dans leur domaine, capables de travailler en équipe et maîtrisant toutes les bonnes pratiques de développement.
Côté produit, nous cherchons des profils capables de comprendre les tenants et les aboutissants techniques du produit, mais aussi de discuter avec les développeurs, toujours avec une bonne vision utilisateurs bien sûr. Etant donné la taille de l'équipe aujourd'hui, nous privilégions un product designer ayant des compétences en programmation, et capable d'intégrer ses idées, plutôt que d'avoir à engager à la fois un graphiste et un intégrateur.  
</p>


<p><br></p>

<h4 class="bold">Avez-vous déjà dû refuser des candidats qui n'étaient pas assez calés en programmation ?</h4>


<p class="justify">Oui, ça nous est déjà arrivé pour des postes produit. Il s'agissait de bons profils pourtant, sortant parfois de grandes écoles. Nous rencontrons souvent des candidats avec un bon background produit mais qui ne sont pas capables de comprendre le code ou d'intégrer des features et prototyper rapidement. Il est fondamental dans notre démarche de développement produit au côté de nos clients de pouvoir leur apporter des idées nouvelles et concrètes régulièrement. Pour pouvoir implémenter de nouvelles fonctionnalités rapidement, il faut clairement un bagage en programmation.</p>


<p><br></p>

<h4 class="bold">Pourquoi soutiens-tu le wagon ?</h4>


<p class="justify">Le programme "1ère classe" permet d'ouvrir les portes des startup à des profils très intéressants, auxquels il manque simplement un bagage technique. Je pense notamment à un graphiste ou un product manager qui voudrait rejoindre une startup. Pour ce type de profil, les bases techniques et les bonnes pratiques enseignées par le Wagon me semblent essentielles.
</p>


<p><br><br></p>

    </div>
  </div>

  <div class='row-fluid'>
    <div class='span12'>
      <h2><a href="blog/10-questions-for-CEOs.html">10 questions for modern CEOs</a></h2>
      <p class="meta muted">30 May 2013</p>
      <div class="fb-like" data-href="http://www.lewagon.org/blog/10-questions-for-CEOs.html" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.lewagon.org/blog/10-questions-for-CEOs.html" data-via="Lewagonparis" data-lang="fr" data-hashtags="bootcampparis">Tweeter</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <br>
      <br>
      <p><img src="/assets/test.jpg" alt="code au camping" /></p>

<p><br/>
Last May, Le wagon introduced CEOs from <a href="http://www.lecamping.org/">le camping</a>, Season4 to the basics of design, front-end &amp; back-end development. The idea behing these courses was to give them a basic overview on the essentials: how a website works, responds to requests, treats and stores data, builds and stylizes responses.</p>

<p>The conclusion was what we had predicted. With enough will and analytical background, any beginner can learn to code. Additionally, any entrepreneur worth his salt should at least grasp some web concepts before taking the plunge. Here are a few questions an entrepreneur should ask himself, before starting the journey.</p>

<ol>
<li>Will I be able to handle (at least a little) design by myself, or will I rely entirely on my CTO?</li>
<li>How would I design a logo, badges, backgrounds, patterns for my app without losing too much time?</li>
<li>What tools and resources do I know to achieve this?</li>
<li>Do I know enough HTML/CSS/Javascript to assist my CTO? Make mockups and maintain a blog?</li>
<li>Do I know enough Javascript/jQuery to handle simple animation by myself?</li>
<li>Would I understand my CTO's day-to-day enough to relate?</li>
<li>How would I organise and control the development cycles in my startup?</li>
<li>How would I track the necessary analytics for my app? Which information do I need and which tools will most effectively achieve my goals?</li>
<li>Can I quickly access social data using social APIs?</li>
<li>Or automate the collection of social data relevant for my business decisions?</li>
</ol>


<p>These are the necessary questions for the CEO 2.0.</p>

<h4 class="red bold">Are you on the right track?</h4>




    </div>
  </div>

