<div class='row-fluid'>
  <div class='span12'>
    <h2>Le codefunding avec Adrien Aumont</h2>
    <p class="meta muted">13 Jan 2014</p>
    <div class="fb-like" data-href="http://www.lewagon.org/blog/kisskiss.html" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.lewagon.org/blog/kisskiss.html" data-via="Lewagonparis" data-lang="fr" data-hashtags="bootcampparis">Tweeter</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <br/>
    <div class="row-fluid">
    <div class="span12" style="padding-right:20px;">
        <img src="https://dl.dropboxusercontent.com/u/29947758/IMG_20140117_131357.jpg"> 
    </div>
</div>


<p><br/></p>

<div class="row-fluid">
    <div class="span12">
        <h4>Commencons avec un petit story telling a l'ancienne: ton parcours?</h4>
        <p>J'ai un parcours plutôt atypique. J'ai arrêté l'école à 14 ans : je ne m'y épanouissais pas. Je me suis alors orienté vers le cinéma, où j'ai fait plein de petits jobs qui m'ont permis de découvrir ce secteur. J'ai été assistant metteur en scène, assistant photo, assistant caméra ... j'ai beaucoup assisté et beaucoup appris.</p>

        <p>À 18 ans, grâces aux différentes rencontres, je me suis retrouvé assistant de Thierry Ardisson. J’ai travaillé pour lui pendant un moment avant de monter une première boîte: Epidemic.</p>

        <p>A l'époque, avec mon associé, on s'intéressait aux problématiques de propagation de l'image (avant les youtube et consorts !). On appelait ça le "marketing undercover". On a beaucoup de patrons de grandes agences qui nous ont contacté pour nous en parler, mais c'était juste pour en parler, rarement pour nous acheter notre expertise.</p>
        
        <p>Du coup j’ai monté une deuxième boîte, en freelance cette fois. Je me suis retrouvé dans les mêmes locaux que ma cousine Ombeline. Elle travaillait dans le bureau d’à côté, dans le secteur de la musique. En discutant ensemble, on a commencé à se poser des questions sur la problématique de l'industrie musicale. Son (nouveau) paradoxe fondamental : elle était en crise alors que les gens n'avaient jamais écouté autant de musique. Notre réflexion était: est-il possible d'adapter les reflexes de collaboration que l'on constatait sur les réseaux sociaux, aux flux monétaires ?</p>

        <p>On ne croyait pas au modèle "label" de MyMajorCompany. Nous avions envie de tester un nouveau modèle. Un an plus tard nous lancions <a href="http://www.kisskissbankbank.com/" target="_blank">KKBB</a>, Ombeline, son mari et moi.</p>
    </div>
</div>


<p><br></p>

<h4>Comment ca se passe avec les développeurs de l'équipe ?</h4>

<p>On a mis du temps avant de trouver les bons développeurs. Presque 2 ans pour arriver à l'équipe que nous avons aujourd'hui, dont nous sommes très contents.</p>

<p>Ils sont 4 - sur 13, et travaillent en binôme. 2 sur KissKiss et 2 sur HelloMerci.</p>

<p>Le point central, c’est d'avoir des développeurs qui ont une bonne capacité de communication, pour pouvoir interagir avec l'équipe. Ce sont eux qui mettent les mains dans le produit, si ils allient à ça une vision produit/marketing, ils deviennent très rapidement force de proposition.</p>

<p>De la même façon, le travail collaboratif joue un rôle clef. En pratique, lorsqu’une solution développée pour HelloMerci tourne parfaitement, la collaboration entre les équipes (via GitHub) nous permet de répliquer ce qui marche et d'accélerer les process pour KissKiss.</p>

<p><br></p>

<h4>En quoi c'est un plus pour un jeune entrepreneur de savoir coder ?</h4>

<p>Être entrepreneur, monter une startup et savoir coder : c'est indissociable. C’est comme avoir bossé en cuisine et monter son restaurant. Que tu mettes les mains dans le cambouis, en codant toi-même ton proto, ou que tu prennes de la hauteur, en recrutant un CTO, l’important : c’est de savoir de quoi tu parles.</p>

<p><br></p>

<h4>Le travail collaboratif ca t'évoque quoi ?</h4>

<p>Une belle avancée ! Fondamentalement elle s’est inspirée des méthodes de la programmation, dont on a appris plein de choses intéressantes : Le lean, l'agilité, le principe d'itération qui est très utilisé en lean management, ça vient de là. En ce qui me concerne j'ai découvert tout ça il y a quelques années. Ça a énormément aidé au niveau des process internes.</p>

<p><br></p>

<h4>Quels profils vous aimez bien chez KissKissBankBank ?</h4>

<p>Une énergie débordante, de la créativité et de la bonne humeur. Dans une startup de 13 salariés, qui envisage de grossir, bientôt, la base c’est l'équipe. Elle est essentielle. C’est l'ADN originel de la société. Si cette elle est dans le bon esprit, et croit dans son projet, la croissance est plus efficace.</p>

<p><br></p>

<h4>Quels langages/technos utilisez-vous ?</h4>

<p>Ruby, Ruby on Rails, Clojure et Angular.</p>

<p><br></p>

<h4>Ton avis sur le programme Première Classe ?</h4>

<p>Apprendre à coder aujourd'hui c'est un besoin comparable à celui d'apprendre Word et Excel il y a 20 ans. On devient vite vieux si on ne s'adapte pas aux nouvelles technologies. Personnellement, je n'ai pas envie de me sentir vieux dans 5 ans parce que je ne parle pas ces langages. Ils sont de plus en plus inévitables.</p>

<p><br></p>

<h4>C'est quoi ton ressenti par rapport aux langages de programmation ?</h4>

<p>Je n'ai jamais vraiment mis les mains dans le code, en revanche Bob, l'un de nos développeurs, nous fait régulièrement des formations en internes. Une fois par semaine. Je ne suis pas hyper assidu je dois le reconnaître, mais il y a quand même un cours qui me passionne : celui sur l'histoire du code.</p>

<p>C’est fascinant de voir comment en partant du néant, les langages de programmation ont évolués, de génération en génération, se sont simplifiés, en se rapprochant du vrai langage.</p>

<p>En résumé, une génération de développeurs prépare le langage qu'il transmettra à la génération suivante pour lui faciliter le quotidien. C'est cette chaine de transmission et d'amélioration qui me fascine.</p>

  </div>
</div>