// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog h2{
	color: rgb(51,51,51);
}

#blog a{
	color: #006491;
}

#blog a:hover{
	text-decoration: underline;
}

@media(min-width: 768px) {
  #post-container {
  	border-right: solid 1px lightgrey;
    #inner-post-container {
      padding-right: 20px;
    }
  }
}

#blog .btn{
	margin-top: 11px;
	margin-right:10px;
}

#blog .social-link{
	vertical-align: -9px;
	color: #006491;
}

#blog .social-link:hover{
	opacity: 0.8;
	text-decoration: none;
}