// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
	padding:10px;
	margin-bottom:0px;
	height:300px;
	border-top: 1px solid #e2e2e2;
	padding: 1rem 0.75rem;
}

.box img{
	display:block;
	margin:auto;
	width:50px;
	margin-bottom:10px;
}

.box h4{text-align:center;}
.list a{color:#666}
.list a:hover{color:#dd4b39; text-decoration:underline;}
.list .current{color:#dd4b39;}
.small-btn{line-height:10px;}
.error-message{font-weight:normal; color:#dd4b39;}


//------------------- container --------------------------
#courses-container{
	padding-left: 30px;
}

.course{
	margin-bottom: 50px;
}

.infos{
	background: rgb(239,239,239);
	padding: 15px;
	font-size: 13px;
}

.pgrme-wagonbar{
	max-width: 230px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background: rgb(239,239,239);
}


.category{
	width: 50px; 
	margin-top:13px;
}



//------------------- Subscribe-btn -------------------------
.subscribe-btn{
	line-height:20px;
	margin-top: -11px;
}

.subscribe-mail{
	height:20px;
}

