// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
	padding:10px;
	margin-bottom:0px;
	height:300px;
	border-top: 1px solid #e2e2e2;
	padding: 1rem 0.75rem;
}

.box img{
	display:block;
	margin:auto;
	width:50px;
	margin-bottom:10px;
}

.box h4{text-align:center;}
.list a{color:#666}
.list a:hover{color:#dd4b39; text-decoration:underline;}
.list .current{color:#dd4b39;}
.small-btn{line-height:10px;}
.error-message{font-weight:normal; color:#dd4b39;}



//------------------- custom btn -------------------------
.subscribe-btn{
	line-height:20px;
	margin-top: -11px;
}

.subscribe-mail{
	height:20px;
}

#main-nl .btn{
	background: rgb(0,100,145);
}
#main-nl .btn:hover{
	opacity: 0.8;
}
#subscribe .btn{
	background: rgb(0,100,145);
}
#subscribe .btn:hover{
	opacity: 0.8;
}
