// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------------------ banner ---------------------
.punch-line {
	font-size: 20px;
	line-height: 25px;
}

@media(max-width: 767px) {
  #banner-wrapper {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media(min-width: 1200px) {
  #banner-wrapper {
    background-attachment: fixed;
    background-size: contain !important;
    background-position: 0 60px;
  }
}

@media(min-width: 1600px) {
  #banner-wrapper {
    background-attachment: fixed;
    background-size: cover !important;
  }
}


#banner-wrapper{
	padding: 70px 0 50px 0;

  background-image: url('carousel1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

	#banner{
		color: white;
		h1, p, a{
			color: white;
		}

		.fb-like{
			vertical-align: 6px;
		}
		.main-nl{
			margin-top: 30px;
		}
		::-webkit-input-placeholder { /* WebKit browsers */
		    color:    rgba(200,200,200,0.4);
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color:    rgba(200,200,200,0.4);
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color:    rgba(200,200,200,0.4);
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color:    rgba(200,200,200,0.4);
		}
	}
}

#banner h1 {
	color: rgb(250,250,250);
	font-size: 60px;
	line-height: 60px;
	text-shadow: 0px 0px 1px grey;
}

#banner{
	cursor: pointer;
	text-align: center;
}

#player-btn{
	margin-top: 20px;
	@include transition (opacity 0.3s ease-in-out);
}

#player-btn:hover{
	color: white;
	opacity: 0.6;
}

#subscribe-input{
	background: rgba(0,0,0,0.6);
	color: white;
	border: 2px solid grey;
}


@media (max-width: 1040px){
	#banner h1{
		font-size:40px;
		line-height:40px;
	}
}

@media (max-width: 420px) {
  #banner h3 {
    display: none;
  }
}


//------------------ home ---------------------

.with-line {
	color: rgb(78, 78, 78);
	text-align: center;
	height: 15px;
	border-bottom: 1px solid rgb(78, 78, 78);
	font-weight: normal;
	font-size: 30px;
	width: 100%;
}

@media(max-width: 380px)
{
  .with-line {
    border: none
  }
  .with-line img {
    display: none;
  }
}

.inline-img{
	height: 15px;
	opacity: 0.7;
	background-color: #fff;
	margin-bottom: 6px;
	margin-left: 10px;
	margin-right: 10px;
}

.with-line>span {
	background-color: #fff;
}

hr{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-top: 1px dotted lightgray;
}


#pgrmes-title{
	padding-top: 40px;
	padding-bottom: 20px;
}

.pgrme{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	a, a:hover{
		color:#666;
	}

}

.pgrme:hover{
	background:#f2f2f2;
}


.code-pic{
	width: 100px;
	margin-bottom:15px;
}


.languages{
	font-family: 'Bitter';
	color: #113d59;
	font-size: 14px;
	font-weight: bold;
}

.projet{
	border: 1px solid lightgray;
}

#logo-premiere{
	@include transition (all 0.1s ease-in-out);
}
#logo-premiere:hover{
	@include transform (rotate(10deg) );
}

//------------------ partenaires --------------------
.img-partenaire{
	width:60%;
}

.mail-us{
	border-left: 1px dotted lightgray;
	padding-left:10px;
}

//------------------ profs --------------------
.prof-cv{
	margin-left:-10px;
}

.img-twitter, .img-facebook, .img-linkedin{
	width:30px;
	height:30px;
	border-radius:15px;
	opacity:0.5;
}

.img-twitter:hover,.img-facebook:hover,.img-linkedin:hover{
	opacity:1;
}

//------------------- wagon-bar ------------------
#wagon_bar{
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 350px;
}

.sidebar{
	border-right: 1px dotted lightgray;
	padding-right: 10px;
}


.suggestion-label{
	font-size: 18px;
	color: rgb(99,99,99);
}

//=> mutinerie

.cours-mutinerie-pic {
	height: 25px;
	width: 25px;
	margin-top: 5px;
}

.tickets{
	width: 80px;
}

.cours{
	margin-left: 40px;
	margin-bottom: 40px;
	padding: 25px;
	border-bottom: 1px dotted lightgray;
	cursor: pointer;
	@include transition (all 0.5s ease-in-out);
  &:hover{
		@include border-top-radius(6px);
		background: rgb(250,250,250);
		border-bottom-color: rgb(180,180,180);
	}
}

.infos {
	color: black;
	padding-left: 5px;
}

.price-infos {
	line-height: 40px;
}

.info-box{
	border-left: 1px dotted lightgray;
	padding-left: 10px;
}

.google-map{
	border-radius: 10px;
	border: 1px solid lightgray;
}


//------------------- premiere ------------------

#cursus{
	padding-top: 0px;
	padding-bottom: 0px;
}

//------------------- express ------------------
#express{
	padding-top: 50px;
	padding-bottom: 50px;
}


//------------------- koudetat ------------------
#koudetat{
	background: url("koudetat-background.jpg") no-repeat;
}


//------------------ postuler --------------------
.schedule{
	font-family:"MuseoSlab-500";
	color:rgb(160, 160, 160);
}

//------------------- merci -----------------------

#merci{
	padding-top: 50px;
	min-height:500px;
}










