<% content_for :title, "Le Wagon - Blog" %>

<div id="blog">
	<div class="row-fluid">
	  <div class="span8" id="post-container">
      <div id="inner-post-container">
	      <%= yield %>
      </div>
	  </div>
	  <div class="span4">
	    <div class='main-nl'>
				<%= form_tag  url_for(controller: 'home',:action => 'subscribe'), :method => "post", :remote => true  do %>
					<div class="input">
						<h3>Suivez le wagon</h3>
						<p class='muted'>Soyez les premiers informés des dernières news du wagon.</p>
						<%= text_field 'email' , 'email', :placeholder => 'Votre e-mail'%>
						<br>
						<%= submit_tag "SOUSCRIRE" , :class => "btn btn-blue"%>
						<span style="font-size:24px;margin-left:5px;margin-right:10px;"><a href="http://www.facebook.com/lewagonformation" class="social-link" target="_blank">
			        <i class="fa fa-facebook fa-6"></i>
			      </a></span>
			      <span style="font-size:24px;"><a href="http://twitter.com/Lewagonparis" class="social-link" target="_blank">
			        <i class="fa fa-twitter fa-6"></i>
			      </a></span>
					</div>
					<br/>
					<p class="error-message"></p>
				<% end %>
			</div>
			<a class="twitter-timeline" href="https://twitter.com/Lewagonparis" data-widget-id="372292161472974848">Tweets de @Lewagonparis</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div>



