<div class="row-fluid" id="footer">
	<div class= "container">
		<div class="span4 footer-div">
			<p>&copy; 2013 Le Wagon</br>
			Tous droits réservés.</p>
		</div>

		<div class="span4 footer-div">
			<p>Le Wagon</br>
			73 Rue du Faubourg Saint-Denis</br>
			75010 Paris</p>
		</div>

		<div class="span4 footer-div">
			<p>Contact</br>
			<a href='mailto:contact@lewagon.org'>contact@lewagon.org</a></p>
		</div>
	</div>
</div>