<div class="navbar navbar-fixed-top">
	<div class="container">
		<a class="brand" href="/"><%= image_tag 'logo.png', id:"logo" %></a>
		<ul class="nav pull-right">
			<li class="facebook-like">
				<div class="fb-like" data-href="http://www.lewagon.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="tahoma"></div>
			</li>
			<li><%= link_to "PARTENAIRES", {controller: "home", action: 'page', page: 'partenaires'}%></li>
			<li><a href="http://blog.lewagon.org/" target="_blank">BLOG</a></li>
			<li><%=link_to "POSTULER", {controller: "registrations", action: "new"}, class: "btn", id: "nav-btn"%></li>
		</ul>
	</div>
</div>
